.click-btn {

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &::after {
    background-color: $color-white;
  }
}


.body {
  display: grid;
  grid-template-rows: 100px minmax(400px, min-content) 50px;
  grid-template-columns: 5rem [cal-start] repeat(2, minmax(250px, 1fr)) [cal-end] 5rem;
  justify-content: center;
  grid-gap: 20px;
  align-items: center;
  font-size: 14px;
}

.header {
  grid-column: 1/-1;
  background-color: #2a3a7d;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .logo-box {
  flex: 1;
  display: flex;
  min-width: 250px;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.header .logo-box img {
  height: 12vh;
}

.header input {
  height: 40px;
  width: 200px;
  padding: 5px auto;
  margin-right: 10px;
}

.header .sign-in {
  min-width: 250px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.header button {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: orange;
  padding: 5px auto;
}

main {
  grid-row: 2/span 1;
  grid-column: cal-start/cal-end;
  margin: 30px 5vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
}

main .weeks {
  background-color: orange;
  padding: 30px 20px;
  display: grid;
  margin-top: 20px;
  align-items: center;
  justify-items: center;
  text-align: center;
  transition: all 0.3s;
}

main .weeks>* {
  align-items: center;
  justify-items: center;
}

main .weeks img {
  width: 50%;
}

main .weeks h3 {
  color: #2a3a7d;
  text-transform: uppercase;
}

main .weeks p {
  font-size: 14px;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  line-height: 0px;
}

main .weeks a,
main .weeks :after,
main .weeks :visited {
  text-decoration: none;
  color: #777;
  transition: all 0.2s ease;
}

main .weeks:hover {
  opacity: 0.6;
}

.footer {
  background-color: #2a3a7d;
  grid-column: 1/-1;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  height: 10vh;
  padding-top: 10px;
}