// just opposite leptop first method, let's make a little change in order, start with mobile first

// generic properties
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 55%;
}
p {
  text-align: justify;
  padding: 0 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  margin-top: 0;
  background-image: linear-gradient(
      to top,
      rgba(230, 100, 101, 0.8),
      rgba(26, 119, 173, 0.8)
    ),
    url(https://i.postimg.cc/76YXtgbT/fighter-jet-f-16.jpg);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-size: auto;
  background-position: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

header h1 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #eee;
}

section {
  text-align: center;
  clear: both;
  list-style: none;
}

section ul {
  margin: 1rem 2rem;
}

section h2 {
  color: #1a77ad;
  font-size: 2.8rem;
  background-color: #e66465;
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
  margin: 1rem auto;
  padding: 5px auto;
}

section h3 {
  color: #1a77ad;
  font-size: 1.8rem;
  margin: 2rem auto;
  padding: 5px 1rem;
  border: 1px solid #ffd86e;
  border-radius: 5px;
  background-color: #ffd86e;
  text-align: center;
  width: auto;
}

// mobile version spesific values

section li {
  background-color: #fff;
  border-radius: 1rem;
  background: linear-gradient(#e66465, #9198e5);
  transition: all 0.5s ease-in-out;
  border: 1px solid #000;
  box-shadow: 1px 2px 10px #999;
  list-style: none;
  margin-top: 1rem;
  margin-right: 3rem;
}

section li img {
  width: 70%;
  height: auto;
  border: none;
  border-radius: 50%;
  margin: 2rem auto;
  transition: all 0.3s ease;
}

//for tab version
@media only screen and (min-width: 600px) {
  html {
    font-size: 60%;
  }
  header {
    height: 10vh;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
  .grid-floats li:first-child,
  .grid-floats li:nth-child(2) {
    float: left;
    width: 44%;
    height: 55rem;
  }

  .grid-floats li:nth-child(3),
  .grid-floats li:nth-child(n + 3) {
    float: left;
    width: 28%;
    height: 50rem;
  }

  .grid-flex {
    display: flex;
    flex-flow: wrap;
    height: 50rem;
  }

  .grid-flex li {
    display: flex;
    grid-gap: 2%;
    height: 50rem;
    &:not(:first-child),
    &:not(:nth-child(2)) {
      width: 28%;
      flex-direction: column;
    }
  }

  .grid-flex li:first-child,
  .grid-flex li:nth-child(2) {
    width: 44%;
    flex-direction: column;
    height: 55rem;
  }
}

//for desktop version
@media only screen and (min-width: 1040px) {
  html {
    font-size: 65%;
  }
  header {
    height: 30vh;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 6% 100%);
  }

  .grid-floats li {
    padding: 2rem 2rem;
    height:50rem;
    margin-top:3rem;
    &:not(:nth-child(3)),
    &:not(:nth-child(7)),
    &:not(:nth-child(11)) {
      margin-right: 3rem;
    }
  }

  .grid-floats li:first-child {
    float: left;
    width: 47%;
    height: 60rem;
  }

  .grid-floats li:nth-child(2) {
    float: left;
    width: 22%;
    height: 60rem;
  }

  .grid-floats li:nth-child(3) {
    float: left;
    width: 22%;
    height: 60rem;
  }

  .grid-floats li:nth-child(n + 4) {
    float: left;
    width: 22%;
    height: 52rem;
  }

  .grid-flex li {
    display: flex;
    margin-top:3rem;
    flex-direction: column;
    flex-gap:3rem;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    height: 50rem;

    &:not(:first-child) {
      width: 22%;
    }
  }

  .grid-flex li:first-child,
  .grid-flex li:nth-child(2),
  .grid-flex li:nth-child(3) {
    height: 60rem;
  }
  .grid-flex li:first-child {
    width: 47%;
    height:60rem;
  }
}
